<div class="panel panel-default">
	<div class="panel-heading">Behavioural - <%= f.index %></div>
	<div class="panel-body" style="padding-bottom: 0px">		
		<div class="row">
			<div class="col-sm-6">
			      <div class="form-group">
					<%= f.label :behav_involved_type_id, "Involved Type:", :class => "control-label" %>
			        <%= f.select :behav_involved_type_id, InvolvedType.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, {:class => 'form-control'} %>
				</div>
			</div>
			<div class="col-sm-6">
			      <div class="form-group">
					<%= f.label :behav_involved_name, "Involved Name:", :class => "control-label" %>
			        <%= f.text_field :behav_involved_name, :class => "form-control" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<%= f.label :behav_description, "Behavioural Description:", :class => "control-label" %>
					<%= f.text_area :behav_description, :class => "form-control", :rows => "3" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
			      <div class="form-group">
					<%= f.label :behav_counseling, "Counseling provided:", :class => "control-label" %>
			        <%= f.text_area :behav_counseling, :class => "form-control", :rows => "3" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<ul class="list-group">
						<li class="list-group-item">
						Parent notified?
						    <div class="material-switch pull-right" style="padding-top: 10px;">
				                <%= f.check_box :behav_guardian_notified %>
				                <label for="<%= form_tag_id(f.object_name, :behav_guardian_notified) %>" class="label-primary"></label>
				            </div>
				        </li>
			        </ul>
	            </div>
            </div>
		</div>

		<div id="<%= form_tag_id(f.object_name, :behav_guardian_info) %>">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<%= f.label :behav_guardian_name, "Parent Name",:class => "control-label" %>
				        <%= f.text_field :behav_guardian_name, :class => "form-control" %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<%= f.label :behav_guardian_number,"Parent Number", :class => "control-label" %>
				        <%= f.text_field :behav_guardian_number, :class => "form-control" %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer clearfix">
		<div class="pull-right">
			<%= f.link_to_remove "Remove Behavioural", :class => "btn btn-danger"  %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#<%= form_tag_id(f.object_name, :behav_guardian_notified) %>').change(function() {
			if ( $(this).is(':checked') )
			{
	        	$("div#<%= form_tag_id(f.object_name, :behav_guardian_info) %>").show();
	        }
	        else
			{
	        	$("div#<%= form_tag_id(f.object_name, :behav_guardian_info) %>").hide();
	        }
	    }).trigger('change');
	});
</script>