<%= nested_form_for(@incident, remote: true, :html => { :role => "form" }) do |f| %>
<ul class="nav nav-tabs" id="tabContent">
	<li class="active"><a href="#general" data-toggle="tab">General</a></li>
	<li><a href="#injury" data-toggle="tab">Injury</a></li>
	<li><a href="#theft" data-toggle="tab">Theft</a></li>
	<li><a href="#vehicle" data-toggle="tab">Vehicle</a></li>
	<li><a href="#property" data-toggle="tab">Property</a></li>
	<li><a href="#behavioural" data-toggle="tab">Behavioural</a></li>
	<li><a href="#misconduct" data-toggle="tab">Misconduct</a></li>
</ul>
</br>
<div class="tab-content">
	<div class="tab-pane active" id="general">
		<div id="error_explanation" class="bg-danger text-danger">
		</div> 
		<%= render 'partials/general', f: f %>
	</div>

	<div class="tab-pane" id="injury">
		<%= f.fields_for :injuries %>
		<%= f.link_to_add "Add Injury", :injuries, :class => "btn btn-success" %>
	</div> 
	<div class="tab-pane" id="theft">
		<%= f.fields_for :thefts %>
		<%= f.link_to_add "Add Theft", :thefts, :class => "btn btn-success" %>
	</div>
	<div class="tab-pane" id="vehicle">
		<%= f.fields_for :vehicle_accidents %>
		<%= f.link_to_add "Add Vehicle", :vehicle_accidents, :class => "btn btn-success" %>
	</div> 
	<div class="tab-pane" id="property">
		<%= f.fields_for :property_damages %>
		<%= f.link_to_add "Add Property Damage", :property_damages, :class => "btn btn-success" %>
	</div>  
	<div class="tab-pane" id="behavioural">
		<%= f.fields_for :behaviourals %>
		<%= f.link_to_add "Add Behavioural", :behaviourals, :class => "btn btn-success" %>
	</div> 
	<div class="tab-pane" id="misconduct">
		<%= render 'partials/misconduct', f: f %>
	</div>

	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<%= f.submit  @incident.new_record? ? "Create Incident" : "Update Incident", :class => "btn btn-primary" %>
			</div>
		</div>
	</div> 
</div>
<% end %>