<%= nested_form_for(@incident, remote: true, :html => { :role => "form" }) do |f| %>
<ul class="nav nav-tabs" id="tabContent">
	<li class="active"><a href="#general" data-toggle="tab">General</a></li>
	<li><a href="#injury" data-toggle="tab">Injury</a></li>
	<li><a href="#theft" data-toggle="tab">Theft</a></li>
	<li><a href="#vehicle" data-toggle="tab">Vehicle</a></li>
	<li><a href="#property" data-toggle="tab">Property</a></li>
	<li><a href="#behavioural" data-toggle="tab">Behavioural</a></li>
	<li><a href="#abuse" data-toggle="tab">Abuse</a></li>
</ul>
</br>
<div class="tab-content">
	<div class="tab-pane active" id="general">
		<div id="error_explanation" class="bg-danger text-danger">
		</div> 
		<%= render 'general', f: f %>
	</div>

	<div class="tab-pane" id="injury">
		<%= f.fields_for :incident_details %>
  		<%= f.link_to_add "Add detail", :incident_details %>
	</div> 
	<div class="tab-pane" id="theft">
		<%= f.fields_for :incident_details %>
  		<%= f.link_to_add "Add detail", :incident_details %>
	</div>
	<div class="tab-pane" id="vehicle">
		<%= f.fields_for :incident_details %>
  		<%= f.link_to_add "Add detail", :incident_details %>
	</div> 
	<div class="tab-pane" id="property">
		<%= f.fields_for :incident_details %>
  		<%= f.link_to_add "Add detail", :incident_details %>
	</div>  
	<div class="tab-pane" id="behavioural">
		<%= f.fields_for :incident_details %>
  		<%= f.link_to_add "Add detail", :incident_details %>
	</div> 
	<div class="tab-pane" id="abuse">
		<%= f.fields_for :incident_details %>
  		<%= f.link_to_add "Add detail", :incident_details %>
	</div>

	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<%= f.submit  @incident.new_record? ? "Create Incident" : "Update Incident", :class => "btn btn-primary" %>
			</div>
		</div>
	</div> 
</div>
<% end %>