<div class="row">
	<div class="col-sm-6">
	      <div class="form-group">
			<%= f.label :involved_type_id, :class => "control-label" %>
	        <%= f.select :involved_type_id, InvolvedType.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, {:class => 'form-control'} %>
		</div>
	</div>
	<div class="col-sm-6">
	      <div class="form-group">
			<%= f.label :involved_name, :class => "control-label" %>
	        <%= f.text_field :involved_name, :class => "form-control" %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<%= f.label :description, "Injury Description", :class => "control-label" %>
			<%= f.text_area :description, :class => "form-control", :rows => "3" %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
	      <div class="form-group">
			<%= f.label :first_aid, "What medical care was provided?", :class => "control-label" %>
	        <%= f.text_area :first_aid, :class => "form-control", :rows => "3" %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-1">
			<%= f.label :guardian_notified, :class => "control-label" %>
	        <%= f.check_box :guardian_notified, :class => "form-control" %>
	</div>
</div>
<div id="<%= form_tag_id(f.object_name, :guardian_info) %>">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<%= f.label :guardian_name, :class => "control-label" %>
		        <%= f.text_field :guardian_name, :class => "form-control" %>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<%= f.label :guardian_number, :class => "control-label" %>
		        <%= f.text_field :guardian_number, :class => "form-control" %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
	      <div class="form-group">
			<%= f.label :followup, "Follow-up Notes:", :class => "control-label" %>
	        <%= f.text_area :followup, :class => "form-control", :rows => "3" %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
	    $('#<%= form_tag_id(f.object_name, :guardian_notified) %>').change(function() {
			if ( $(this).is(':checked') )
			{
	        	$("div#<%= form_tag_id(f.object_name, :guardian_info) %>").show();
	        }
	        else
			{
	        	$("div#<%= form_tag_id(f.object_name, :guardian_info) %>").hide();
	        }
	    }).trigger('change');
	});
</script>