<div class="panel panel-default">
	<div class="panel-heading">Injury - <%= f.index %></div>
	<div class="panel-body" style="padding-bottom: 0px">
		<div class="row">
			<div class="col-md-6">
			      <div class="form-group">
					<%= f.label :injury_involved_type_id, "Invovled Type:", :class => "control-label" %>
			        <%= f.select :injury_involved_type_id, InvolvedType.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, {:class => 'form-control'} %>
				</div>
			</div>
			<div class="col-md-6">
			      <div class="form-group">
					<%= f.label :injury_involved_name, "Involved Name:", :class => "control-label" %>
			        <%= f.text_field :injury_involved_name, :class => "form-control" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :injury_description, "Injury:", :class => "control-label" %>
					<%= f.text_field :injury_description, :class => "form-control", :rows => "3" %>
				</div>
			</div>
			<div class="col-md-6">
			      <div class="form-group">
					<%= f.label :injury_first_aid, "What medical care was provided?", :class => "control-label" %>
			        <%= f.text_field :injury_first_aid, :class => "form-control", :rows => "3" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
			    <%= f.check_box :injury_guardian_notified %>
			    <%= f.label :injury_guardian_notified, "Parent notified" %>
			</div>
		</div>
		<div id="<%= form_tag_id(f.object_name, :injury_guardian_info) %>">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<%= f.label :injury_guardian_name, "Parent Name",:class => "control-label" %>
				        <%= f.text_field :injury_guardian_name, :class => "form-control" %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<%= f.label :injury_guardian_number,"Parent Number", :class => "control-label" %>
				        <%= f.text_field :injury_guardian_number, :class => "form-control" %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-footer clearfix">
		<div class="pull-right">
			<%= f.link_to_remove "Remove Injury", :class => "btn btn-danger"  %>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#<%= form_tag_id(f.object_name, :injury_guardian_notified) %>').change(function() {
			if ( $(this).is(':checked') )
			{
				console.log("It is checked");
	        	$("div#<%= form_tag_id(f.object_name, :injury_guardian_info) %>").show();
	        }
	        else
			{
				console.log("It is unchecked");
	        	$("div#<%= form_tag_id(f.object_name, :injury_guardian_info) %>").hide();
	        }
	    }).trigger('change');
</script>