<div class="panel panel-default">
	<div class="panel-heading">Theft - <%= f.index %></div>
	<div class="panel-body" style="padding-bottom: 0px">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :theft_description, "Item Stolen:", :class => "control-label" %>
					<%= f.text_field :theft_description, :class => "form-control", :rows => "3" %>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :theft_serial, "Serial Number:", :class => "control-label" %>
					<%= f.text_field :theft_serial, :class => "form-control", :rows => "3" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
			        <%= f.check_box :theft_security_video %>
			        <%= f.label :theft_security_video, "Security Video?" %>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel-footer clearfix">
		<div class="pull-right">
			<%= f.link_to_remove "Remove Theft", :class => "btn btn-danger"  %>
		</div>
	</div>
</div>
<script type="text/javascript">

</script>