<div class="panel panel-default">
	<div class="panel-heading">Theft - <%= f.index %></div>
	<div class="panel-body" style="padding-bottom: 0px">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :theft_description, "Item Stolen:", :class => "control-label" %>
					<%= f.text_field :theft_description, :class => "form-control", :rows => "3" %>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<%= f.label :theft_serial, "Serial Number:", :class => "control-label" %>
					<%= f.text_field :theft_serial, :class => "form-control", :rows => "3" %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<ul class="list-group">
						<li class="list-group-item">
						Security Video?
						    <div class="material-switch pull-right" style="padding-top: 10px;">
				                <%= f.check_box :theft_security_video %>
				                <label for="<%= form_tag_id(f.object_name, :theft_security_video) %>" class="label-primary"></label>
				            </div>
				        </li>
			        </ul>
	            </div>
            </div>
		</div>
	</div>
	
	<div class="panel-footer clearfix">
		<div class="pull-right">
			<%= f.link_to_remove "Remove Theft", :class => "btn btn-danger"  %>
		</div>
	</div>
</div>
<script type="text/javascript">

</script>