<div class="panel panel-default">
	<div class="panel-heading">Vehicle Accident - <%= f.index %></div>
	<div class="panel-body" style="padding-bottom: 0px">
		<div class="row">
			<div class="col-sm-6">
			      <div class="form-group">
					<%= f.label :veh_ownership_id, "Vehicle Owner", :class => "control-label" %>
			        <%= f.select :veh_ownership_id, VehicleOwnership.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, {:class => 'form-control'} %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-1">
				<div class="form-group">
					<%= f.label :veh_alternative_transport, "Alternative Transport?", :class => "control-label" %>
					<%= f.check_box :veh_alternative_transport, :class => "form-control" %>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</div>

		<div id="veh_accident_incident_detail_alt_transport">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<%= f.label :veh_alternative_transport_detail, "Alternative Transport Info:", :class => "control-label" %>
						<%= f.text_area :veh_alternative_transport_detail, :class => "form-control", :rows => "3" %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel-footer clearfix">
		<div class="pull-right">
			<%= f.link_to_remove "Remove Vehicle", :class => "btn btn-danger"  %>
		</div>
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function(){

	    $('#incident_vehicle_accidents_attributes_0_veh_alternative_transport').change(function() {
			if ( $(this).is(':checked') )
			{
	        	$("div#veh_accident_incident_detail_alt_transport").show();
	        }
	        else
			{
	        	$("div#veh_accident_incident_detail_alt_transport").hide();
	        }
	    }).trigger('change');
	});
</script>