<%= f.fields_for :behaviourals do |ff| %>
<div class="row">
	<div class="col-sm-6">
	      <div class="form-group">
			<%= ff.label :behav_involved_type_id, "Involved Type:", :class => "control-label" %>
	        <%= ff.select :behav_involved_type_id, InvolvedType.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, {:class => 'form-control'} %>
		</div>
	</div>
	<div class="col-sm-6">
	      <div class="form-group">
			<%= ff.label :behav_involved_name, "Involved Name:", :class => "control-label" %>
	        <%= ff.text_field :behav_involved_name, :class => "form-control" %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<%= ff.label :behav_description, "Behavioural Description:", :class => "control-label" %>
			<%= ff.text_area :behav_description, :class => "form-control", :rows => "3" %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
			<%= ff.label :behav_guardian_notified, "Parent Notified",:class => "control-label" %>
	        <%= ff.check_box :behav_guardian_notified, :class => "form-control" %>
	</div>
</div>
<div id="behavioural_incident_detail_guardian_info">
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<%= ff.label :behav_guardian_name, "Parent Name",:class => "control-label" %>
		        <%= ff.text_field :behav_guardian_name, :class => "form-control" %>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<%= ff.label :behav_guardian_number,"Parent Number", :class => "control-label" %>
		        <%= ff.text_field :behav_guardian_number, :class => "form-control" %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
	      <div class="form-group">
			<%= ff.label :behav_counseling, "Counseling provided:", :class => "control-label" %>
	        <%= ff.text_area :behav_counseling, :class => "form-control", :rows => "3" %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
	      <div class="form-group">
			<%= ff.label :behav_followup, "What follow-up occured?", :class => "control-label" %>
	        <%= ff.text_area :behav_followup, :class => "form-control", :rows => "3" %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
		<div class="form-group">
			<%= ff.label :behav_members_involved, "Members Involved?", :class => "control-label" %>
			<%= ff.check_box :behav_members_involved, :class => "form-control" %>
		</div>
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
		<div class="form-group">
			<%= ff.label :behav_staff_involved, "Staff Involved?", :class => "control-label" %>
			<%= ff.check_box :behav_staff_involved, :class => "form-control" %>
		</div>
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
		<div class="form-group">
			<%= ff.label :behav_other_involved, "Other Involved?", :class => "control-label" %>
			<%= ff.check_box :behav_other_involved, :class => "form-control" %>
		</div>
	</div>
</div>

<div id="behavioural_incident_detail_members">
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<%= ff.label :behav_members_involved_detail, "Members:", :class => "control-label" %>
				<%= ff.text_area :behav_members_involved_detail, :class => "form-control", :rows => "3" %>
			</div>
		</div>
	</div>
</div>

<div id="behavioural_incident_detail_staff">
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<%= ff.label :behav_staff_involved_detail, "Staff:", :class => "control-label" %>
				<%= ff.text_area :behav_staff_involved_detail, :class => "form-control", :rows => "3" %>
			</div>
		</div>
	</div>
</div>

<div id="behavioural_incident_detail_other">
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<%= ff.label :behav_other_involved_detail, "Others:", :class => "control-label" %>
				<%= ff.text_area :behav_other_involved_detail, :class => "form-control", :rows => "3" %>
			</div>
		</div>
	</div>
</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
	    $('#incident_behaviourals_attributes_0_behav_members_involved').change(function() {
			if ( $(this).is(':checked') )
			{
	        	$("div#behavioural_incident_detail_members").show();
	        }
	        else
			{
	        	$("div#behavioural_incident_detail_members").hide();
	        }
	    }).trigger('change');

	    $('#incident_behaviourals_attributes_0_behav_staff_involved').change(function() {
			if ( $(this).is(':checked') )
			{
	        	$("div#behavioural_incident_detail_staff").show();
	        }
	        else
			{
	        	$("div#behavioural_incident_detail_staff").hide();
	        }
	    }).trigger('change');

	    $('#incident_behaviourals_attributes_0_behav_other_involved').change(function() {
			if ( $(this).is(':checked') )
			{
	        	$("div#behavioural_incident_detail_other").show();
	        }
	        else
			{
	        	$("div#behavioural_incident_detail_other").hide();
	        }
	    }).trigger('change');

	    $('#incident_behaviourals_attributes_0_behav_guardian_notified').change(function() {
			if ( $(this).is(':checked') )
			{
	        	$("div#behavioural_incident_detail_guardian_info").show();
	        }
	        else
			{
	        	$("div#behavioural_incident_detail_guardian_info").hide();
	        }
	    }).trigger('change');
	});
</script>