<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<%= f.label :date_reported, "Date and Time Reported", :class => "control-label" %>
			<div class='input-group date' id='date_reported'>
				<%= f.text_field :date_reported, :value => @sysDateTime, :class => "form-control", "data-provide" => 'datepicker', :readonly => true %>
				<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group">
			<%= f.label :date_of_incident, "Date and Time of Incident", :class => "control-label" %>
			<div class='input-group date' id='date_of_incident'>
				<%= f.text_field :date_of_incident, :class => "form-control", "data-provide" => 'datepicker' %>
				<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
		<%= f.label :reporter, :class => "control-label" %>
		<%= f.text_field :reporter, :class => "form-control" %>
		</div>  
	</div>

	<div class="col-sm-6">
		<div class="form-group">
			<%= f.label :witness, :class => "control-label" %>
			<%= f.text_field :witness, :class => "form-control" %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<%= f.label :location_id, :class => "control-label" %>
			<%= f.select :location_id, Location.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, {:class => 'form-control'} %>
		</div>
	</div>
	<div id="loc-fac">
		<div class="col-sm-6">
			<div class="form-group">
				<%= f.label :facility_id, :class => "control-label" %>
				<%= f.collection_select :facility_id, Facility.all, :id, :name, {:prompt => 'Please select a facility...'}, {:class => 'form-control'} %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div id="loc-area">
		<div class="col-sm-6">
			<div class="form-group">
				<%= f.label :area_id, :class => "control-label" %>
				<%= f.collection_select :area_id, Area.all, :id, :name, {include_blank: 'Please select an area...'}, {:class => 'form-control'} %>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<%= f.label :program_id, :class => "control-label" %>
				<%= f.collection_select :program_id, Program.all, :id, :name, {include_blank: 'Please select a Program...'}, {:class => 'form-control'} %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div id="loc-address">
		<div class="col-md-12">
			<div class="form-group">
				<%= f.label :physical_address, :class => "control-label" %>
				<%= f.text_field :physical_address, :class => "form-control" %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="form-group">
			<%= f.label :severity_level_id, :class => "control-label" %>
			<%= f.collection_select :severity_level_id, SeverityLevel.all, :id, :name, {:prompt => 'Severity...'}, {:class => 'form-control'} %>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<%= f.label :description, "General Overview of Incident", :class => "control-label" %>
			<%= f.text_area :description, :class => "form-control", :rows => "5" %>
		</div>
	</div>
</div>