<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<%= f.label :date_reported, "Date and Time Reported", :class => "control-label" %>
			<div class='input-group date' id='date_reported'>
				<%= f.text_field :date_reported, :value => @sysDateTime, :class => "form-control", "data-provide" => 'datepicker', :readonly => true %>
				<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group">
			<%= f.label :date_of_incident, "Date and Time of Incident", :class => "control-label" %>
			<div class='input-group date' id='date_of_incident'>
				<%= f.text_field :date_of_incident, :class => "form-control", "data-provide" => 'datepicker' %>
				<span class="input-group-addon">
				<span class="glyphicon glyphicon-calendar"></span>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
		<%= f.label :reporter, :class => "control-label" %>
		<%= f.text_field :reporter, :value => current_user.first_name+" "+current_user.last_name , :class => "form-control", :readonly => true  %>
		</div>  
	</div>

	<div class="col-sm-6">
		<div class="form-group">
			<%= f.label :witness, :class => "control-label" %>
			<%= f.text_field :witness, :class => "form-control" %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<%= f.label :location_id, :class => "control-label" %>
			<%= f.select :location_id, Location.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, {:class => 'form-control'} %>
		</div>
	</div>
	<div id="loc-fac">
		<div class="col-sm-6">
			<div class="form-group">
				<%= f.label :facility_id, :class => "control-label" %>
				<%= f.collection_select :facility_id, Facility.all, :id, :name, {:prompt => 'Please select a facility...'}, {:class => 'form-control'} %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div id="loc-area">
		<div class="col-sm-6">
			<div class="form-group">
				<%= f.label :area_id, :class => "control-label" %>
				<%= f.grouped_collection_select :area_id, Facility.all, :areas,  :name, :id, :name, {}, {:class => 'form-control'} %>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<%= f.label :program_id, :class => "control-label" %>
				<%= f.grouped_collection_select :program_id, Facility.all, :programs, :name, :id, :name, {}, {:class => 'form-control'} %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div id="loc-address">
		<div class="col-md-12">
			<div class="form-group">
				<%= f.label :physical_address, :class => "control-label" %>
				<%= f.text_field :physical_address, :class => "form-control" %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<%= f.label :severity_level_id, :class => "control-label" %>
			<%= f.collection_select :severity_level_id, SeverityLevel.all, :id, :name, {:prompt => 'Severity...'}, {:class => 'form-control'} %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<ul class="list-group">
				<li class="list-group-item disabled">
					Incident Emergency/Insurance
				</li>
		        <li class="list-group-item">
		            Emergency contacted?
		            <div class="material-switch pull-right" style="padding-top: 10px;">
		                <input id="emergency_notified" name="emergency_notified" type="checkbox"/>
		                <label for="emergency_notified" class="label-primary"></label>
		            </div>
		        </li>
		        <li class="list-group-item">
		            Insurance claim filed?
		            <div class="material-switch pull-right" style="padding-top: 10px;">
		                <input id="insurance_filed" name="insurance_filed" type="checkbox"/>
		                <label for="insurance_filed" class="label-primary"></label>
		            </div>
		        </li>
		    </ul>
	    </div>
    </div>
</div>
<div id="<%= form_tag_id(f.object_name, :emergency_info) %>">
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<%= f.label :emergency_detail, "Police Report Info:", :class => "control-label" %>
				<%= f.text_area :emergency_detail, :class => "form-control", :rows => "3" %>
			</div>
		</div>
	</div>
</div>

<div id="<%= form_tag_id(f.object_name, :insurance_info) %>">
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<%= f.label :insurance_detail, "Insurance Claim Info:", :class => "control-label" %>
				<%= f.text_area :insurance_detail, :class => "form-control", :rows => "3" %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<%= f.label :description, "General Overview of Incident", :class => "control-label" %>
			<%= f.text_area :description, :class => "form-control", :rows => "3" %>
		</div>
	</div>
</div>

<script>
	areas = $('#incident_area_id').html();
	programs = $('#incident_program_id').html();
	$('#incident_facility_id').on('change', function() {
		facility = $('#incident_facility_id :selected').text();
		area_options = $(areas).filter('optgroup[label="#facility"]'.replace('#facility', facility)).html();
		program_options = $(programs).filter('optgroup[label="#facility"]'.replace('#facility', facility)).html();
		if (area_options) {
			$('#incident_area_id').html(area_options);
		}
		else {
			$('#incident_area_id').empty();
		}
		if (program_options) {
			$('#incident_program_id').html(program_options);
		}
		else {
			$('#incident_program_id').empty();
		}
	}).trigger('change');


	$('#emergency_notified').change(function() {
		if ( $(this).is(':checked') )
		{
        	$("div#<%= form_tag_id(f.object_name, :emergency_info) %>").show();
        }
        else
		{
        	$("div#<%= form_tag_id(f.object_name, :emergency_info) %>").hide();
        }
    }).trigger('change');

	$('#insurance_filed').change(function() {
		if ( $(this).is(':checked') )
		{
        	$("div#<%= form_tag_id(f.object_name, :insurance_info) %>").show();
        }
        else
		{
        	$("div#<%= form_tag_id(f.object_name, :insurance_info) %>").hide();
        }
    }).trigger('change');    
</script>