<%= f.fields_for :misconducts do |ff| %>
	<div class="panel panel-default">
		<div class="panel-heading">Misconduct</div>
		<div class="panel-body" style="padding-bottom: 0px">	
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<%= ff.label :misconduct_description, "What occured?", :class => "control-label" %>
						<%= ff.text_area :misconduct_description, :class => "form-control", :rows => "3" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-1">
				</div>
				<div class="col-sm-1">
						<%= ff.label :misconduct_cps_notified, "CPS", :class => "control-label" %>
				        <%= ff.check_box :misconduct_cps_notified, :class => "form-control" %>
				</div>
			</div>

			<div id="misconduct_incident_detail_cps_info">
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<%= ff.label :misconduct_cps_detail, "CPS Info:", :class => "control-label" %>
					        <%= ff.text_area :misconduct_cps_detail, :class => "form-control", :rows => "3" %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer clearfix">
			<div class="pull-right">
			</div>
		</div>
	</div>
<% end %>


<script type="text/javascript">
	$(document).ready(function(){
		$('#incident_misconducts_attributes_0_misconduct_cps_notified').change(function() {
			if ( $(this).is(':checked') )
			{
	        	$("div#misconduct_incident_detail_cps_info").show();
	        }
	        else
			{
	        	$("div#misconduct_incident_detail_cps_info").hide();
	        }
	    }).trigger('change');
	});
</script>