<%= f.fields_for :thefts do |ff| %>
<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<%= ff.label :theft_description, "What property was stolen? (provide serial number)", :class => "control-label" %>
			<%= ff.text_area :theft_description, :class => "form-control", :rows => "3" %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
		<div class="form-group">
			<%= ff.label :theft_emergency_notified, "Police Report filed?",:class => "control-label" %>
	        <%= ff.check_box :theft_emergency_notified, :class => "form-control" %>
		</div>
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
		<div class="form-group">
			<%= ff.label :theft_insurance_filed, "Insurance claim filed?", :class => "control-label" %>
	        <%= ff.check_box :theft_insurance_filed, :class => "form-control" %>
		</div>
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
		<div class="form-group">
			<%= ff.label :theft_security_video, "Security Video?", :class => "control-label" %>
	        <%= ff.check_box :theft_security_video, :class => "form-control" %>
		</div>
	</div>
</div>

<div id="theft_incident_detail_emergency_info">
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<%= ff.label :theft_emergency_detail, "Police Report Info:", :class => "control-label" %>
				<%= ff.text_area :theft_emergency_detail, :class => "form-control", :rows => "3" %>
			</div>
		</div>
	</div>
</div>

<div id="theft_incident_detail_insurance_info">
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<%= ff.label :theft_insurance_filed_detail, "Insurance Claim Info:", :class => "control-label" %>
				<%= ff.text_area :theft_insurance_filed_detail, :class => "form-control", :rows => "3" %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
		<div class="form-group">
			<%= ff.label :theft_members_involved, "Members Involved?", :class => "control-label" %>
			<%= ff.check_box :theft_members_involved, :class => "form-control" %>
		</div>
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
		<div class="form-group">
			<%= ff.label :theft_staff_involved, "Staff Involved?", :class => "control-label" %>
			<%= ff.check_box :theft_staff_involved, :class => "form-control" %>
		</div>
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
	</div>
	<div class="col-sm-1">
		<div class="form-group">
			<%= ff.label :theft_other_involved, "Others Involved?", :class => "control-label" %>
			<%= ff.check_box :theft_other_involved, :class => "form-control" %>
		</div>
	</div>
</div>

<div id="theft_incident_detail_members">
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<%= ff.label :theft_members_involved_detail, "Members:", :class => "control-label" %>
				<%= ff.text_area :theft_members_involved_detail, :class => "form-control", :rows => "3" %>
			</div>
		</div>
	</div>
</div>

<div id="theft_incident_detail_staff">
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<%= ff.label :theft_staff_involved_detail, "Staff:", :class => "control-label" %>
				<%= ff.text_area :theft_staff_involved_detail, :class => "form-control", :rows => "3" %>
			</div>
		</div>
	</div>
</div>

<div id="theft_incident_detail_other">
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<%= ff.label :theft_other_involved_detail, "Others:", :class => "control-label" %>
				<%= ff.text_area :theft_other_involved_detail, :class => "form-control", :rows => "3" %>
			</div>
		</div>
	</div>
</div>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
	    
		$('#incident_thefts_attributes_0_theft_emergency_notified').change(function() {
			if ( $(this).is(':checked') )
			{
	        	$("div#theft_incident_detail_emergency_info").show();
	        }
	        else
			{
	        	$("div#theft_incident_detail_emergency_info").hide();
	        }
	    }).trigger('change');

	    $('#incident_thefts_attributes_0_theft_insurance_filed').change(function() {
			if ( $(this).is(':checked') )
			{
	        	$("div#theft_incident_detail_insurance_info").show();
	        }
	        else
			{
	        	$("div#theft_incident_detail_insurance_info").hide();
	        }
	    }).trigger('change');

	    $('#incident_thefts_attributes_0_theft_members_involved').change(function() {
			if ( $(this).is(':checked') )
			{
	        	$("div#theft_incident_detail_members").show();
	        }
	        else
			{
	        	$("div#theft_incident_detail_members").hide();
	        }
	    }).trigger('change');

	    $('#incident_thefts_attributes_0_theft_staff_involved').change(function() {
			if ( $(this).is(':checked') )
			{
	        	$("div#theft_incident_detail_staff").show();
	        }
	        else
			{
	        	$("div#theft_incident_detail_staff").hide();
	        }
	    }).trigger('change');

	    $('#incident_thefts_attributes_0_theft_other_involved').change(function() {
			if ( $(this).is(':checked') )
			{
	        	$("div#theft_incident_detail_other").show();
	        }
	        else
			{
	        	$("div#theft_incident_detail_other").hide();
	        }
	    }).trigger('change');
	});
</script>