<ul class="nav navbar-nav hidden-md hidden-lg">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-left: 20px">General <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to "Home", root_path, {:style => 'margin-left: 20px'} %>
      </li>
      <li>
        <%= link_to "Incidents", incidents_path, {:style => 'margin-left: 20px'} %>
      </li>
      <li>
        <%= link_to "Reporting", reports_path, {:style => 'margin-left: 20px'} %>
      </li>
    </ul>
  </li>
</ul>
<% if current_user.try(:admin?) %>
  <ul class="nav navbar-nav hidden-md hidden-lg">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-left: 20px">Admin <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Users", users_path, {:style => 'margin-left: 20px'} %>
        </li>
        <li>
          <%= link_to "Facilities", facilities_path, {:style => 'margin-left: 20px'} %>
        </li>
        <li>
          <%= link_to "Areas", areas_path, {:style => 'margin-left: 20px'} %>
        </li>
        <li>
          <%= link_to "Programs", programs_path, {:style => 'margin-left: 20px'} %>
        </li>
        <li>
          <%= link_to "Bus List", buses_path, {:style => 'margin-left: 20px'} %>
        </li>
        <li>
          <%= link_to "Incident Types", incident_types_path, {:style => 'margin-left: 20px'} %>
        </li>
        <li>
          <%= link_to "Severity Levels", severity_levels_path, {:style => 'margin-left: 20px'} %>
        </li>
      </ul>
    </li>
  </ul>
<% end %>