<div class="col-md-0 col-lg-2 sidebar hidden-md hidden-sm">
  <ul class="nav nav-sidebar">
  	<li class="nav-divider"></li>
    <li class="dropdown-header">General</li>
    <li>
    	<%= active_link_to "Home", root_path, :wrap_tag => :li, :active => :exclusive %>
    </li>
    <li>
    	<%= active_link_to "Incidents", incidents_path, :wrap_tag => :li if current_user %>
    </li>
    <li>
        <%= active_link_to "Reporting", reports_path, :wrap_tag => :li if current_user %>
    </li>
    <% if current_user.try(:admin?) %>
        <li class="nav-divider"></li>
        <li class="dropdown-header">Admin</li>
        <li>
        	<%= active_link_to "Users", users_path, :wrap_tag => :li if current_user.try(:admin?) %>
        </li>
        <li>
            <%= active_link_to "Facilities", facilities_path, :wrap_tag => :li if current_user.try(:admin?) %>
        </li>
        <li>
            <%= active_link_to "Areas", areas_path, :wrap_tag => :li if current_user.try(:admin?) %>
        </li>
        <li>
            <%= active_link_to "Programs", programs_path, :wrap_tag => :li if current_user.try(:admin?) %>
        </li>
        <li>
            <%= active_link_to "Bus List", buses_path, :wrap_tag => :li if current_user.try(:admin?) %>
        </li>
<!--         <li>
            <%= active_link_to "Incident Types", incident_types_path, :wrap_tag => :li if current_user.try(:admin?) %>
        </li> -->
        <li>
            <%= active_link_to "Severity Levels", severity_levels_path, :wrap_tag => :li if current_user.try(:admin?) %>
        </li>
    <% end %>
  </ul>
</div>