<div class='col-md-10 col-md-offset-1'>
  <h2>Report Generation</h2>
  <hr>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th><%= sort_link @search, :date_reported, "Recorded Date" %></th>
              <th><%= sort_link @search, :date_of_incident, "Incident Date" %></th>
              <th><%= sort_link @search, :reporter, "Reporter" %></th>
              <th><%= sort_link @search, :witness, "Witness" %></th>
            </tr>
          </thead>
          <tbody id="reports">
          <div class = "sort_paginate_ajax"><%= render @reports %></div>
          </tbody>
        </table>
        <%= will_paginate @reports, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>