<!DOCTYPE html>
<html>
<head>
  <title>IncidentReporting</title>
  <link rel="stylesheet" media="all" href="/assets/application.css" data-turbolinks-track="true">
  <link rel="stylesheet" media="all" href="/assets/dashboard.css" data-turbolinks-track="true">
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navbar' %>
  <div class="container-fluid">
    <div class="row">
      <%= render 'shared/sidebar' %>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <%= render 'shared/pageheading' %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
