<html>
<head>
  <title>IncidentReporting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" media="all" href="/assets/css/dashboard.css" data-turbolinks-track="true">
  <link rel="stylesheet" media="all" href="/assets/css/login.css" data-turbolinks-track="true">
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= auto_session_timeout_js %>
  <% end %>
  <%= render 'shared/navbar' %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <%= render 'shared/pageheading' %>    
        <%= yield %>  
      </div>
    </div>
  </div>
  <%= render 'shared/login' %>
</body>
</html>
